name: Build

on:
  push:
    branches: [ "main", "beta" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js
      uses: actions/setup-node@v6
      with:
        node-version: 20
    - name: Install dependencies
      run: npm install

    - name: Build
      env:
        NODE_OPTIONS: "--max_old_space_size=4096"
      run: npm run build

    - uses: actions/upload-artifact@v6
      with:
        name: Website
        path: ./.next/standalone
        retention-days: 7
